<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Cloud Object Storage</title>
    <style>
        h1{
            font-weight: 900;
            text-align: center;
            font-size: 3rem;
            
        }
        .image-container {
            height: 100%;
            width: 100%;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .image-container img {
            height: 30%;
            width: 30%;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <h1>IBM Cloud Object Storage Example</h1>
    <div class="image-container">
        <img src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1665549467/Assignment-4-Assets/1_hdc19a.jpg" alt="">
        <img src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1665549470/Assignment-4-Assets/2_od3lfy.jpg" alt="">
        <img src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1665549472/Assignment-4-Assets/3_n4gils.jpg" alt="">
        <img src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1665549468/Assignment-4-Assets/4_f777qu.jpg" alt="">
        <img src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1665549467/Assignment-4-Assets/5_cbyozg.jpg" alt="">
    </div>
    
</body>
</html>